@use "@/assets/styles/variables.scss" as nav; // Импорт для переменных
// стили порписывала через переменные из variables

.categories {
  &__page-section {
    padding: 40px 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__section-title {
    font-size: nav.$section-title;
    font-weight: nav.$font-weight-bold;
    color: nav.$font-darkColor;
  }

  .title-dark {
    color: nav.$font-lightColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: 30px;
  }
}

@media (max-width: 1000px) {
  .categories__page-section {
    padding: 40px 20px 0;
  }
}

@media (max-width: 768px) {
  .categories__page-section {
    padding: 32px 20px 0;
    
    .categories__section-title {
      font-size: nav.$section-header-m;
    }
  }
}

@media (max-width: 480px) {
  .categories__section-title {
    font-size: nav.$section-header-s;
  }
}

@media (max-width: 350px) {
  .categories__section-title {
    font-size: nav.$section-header-xs;
  }
}
