@use "@/assets/styles/variables.scss" as nav; // Импорт для переменных
// стили порписывала через переменные из variables

.categories {
    
  &__page-section {
    padding: 0 40px;
  }

   &__section-title {
      font-size: nav.$section-title;
      font-weight: 700;
      color: nav.$font-darkColor;
      margin-bottom: 40px;
    }

    .title-dark {
      color: nav.$font-lightColor;
    }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: 30px;
  }
}
