@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.product__page-section {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product__page {
  display: flex;
  align-items: flex-start;
  gap: 32px;

  .product__image {
    border: 1px solid nav.$border-color-grey;
    border-radius: nav.$radius-big;
    overflow: hidden;
    width: 780px;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 548px;

    .product__title-icon {
      display: flex;
      justify-content: space-between;

      .product__title {
        font-size: nav.$product-page-title-text;
        font-weight: nav.$font-weight-bold;
        max-width: 484px;
      }

      .icon {
        font-size: nav.$icons-size;
        fill: nav.$font-lightColor;
        stroke: nav.$font-darkColor;
        stroke-width: 20px;

        &:hover {
          fill: nav.$font-darkColor;
        }
      }

      .icon-dark {
        fill: none;
        stroke: nav.$white-color;
      }

      .icon__favourite {
        fill: nav.$green-color;
        stroke: none;
      }
    }

    .product__pricing {
      display: flex;
      gap: 16px;
      align-items: flex-start;

      .product__price-container {
        display: flex;
        gap: 32px;
        align-items: baseline;

        .original__price {
          font-size: nav.$price-text;
          color: nav.$dark-grey;
          font-weight: nav.$font-weight-medium;
          text-decoration: line-through;
        }
      }

      .product__price {
        font-size: nav.$product-page-price-text;
        font-weight: nav.$font-weight-semi-bold;
        color: nav.$font-darkColor;
      }

      .price-dark {
        color: nav.$font-lightColor;
      }

      .discount {
        background-color: nav.$sale-color;
        color: nav.$font-lightColor;
        font-weight: nav.$font-weight-semi-bold;
        font-size: nav.$common-text;
        padding: 4px 8px;
        border-radius: nav.$radius-small;
      }

      .discount-dark {
        background-color: nav.$sale-color-green;
      }
    }

    .counter__cart {
      display: flex;
      gap: 32px;

      .product__counter {
        display: flex;
        align-items: center;
        border: 1px solid nav.$border-color-grey;
        border-radius: nav.$radius-small;
        border-width: 1px 0 1px 0;
        background-color: nav.$bg-color-white;

        .counter__btn-icon {
          padding: 17px;
          font-size: 24px;
          color: nav.$font-greyColor;
          background: none;
          border: 1px solid nav.$border-color-grey;
          border-width: 0 1px 0 1px;
          border-radius: nav.$radius-small;
          display: flex;
        }

        .count {
          padding: 16px 44px;
          font-size: nav.$common-text;
          font-weight: nav.$font-weight-semi-bold;
        }
      }

      .counter-dark {
        background: none;

        .count {
          color: nav.$font-lightColor;
        }
      }

      .product__btn-container {
        display: flex;
        width: 316px;

        button {
          flex-grow: 1;
        }
      }
    }

    .product__description {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .description__title {
        font-size: nav.$common-text;
        font-weight: nav.$font-weight-semi-bold;
      }

      .description__body {
        font-size: nav.$small-text;
      }
    }

    .description-dark {
      color: nav.$font-lightColor;
    }
  }
}

@media (max-width: 1000px) {
  .product__page-section {
    padding: 40px 20px 0;

    .product__page {
      flex-direction: column;

      .product__image {
        width: 100%;
      }

      .product__info {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .product__page-section {
    padding: 32px 20px 0;
  }
}

@media (max-width: 510px) {
  .product__page-section {
    .product__page {
      .product__info {
        .product__pricing {
          .product__price-container {
            gap: 12px;

            .original__price {
              font-size: nav.$old-price-xs;
            }
          }

          .product__price {
            font-size: nav.$price-s;
          }
        }

        .counter__cart {
          flex-direction: column;
          align-items: start;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .product__page-section {
    .product__page {
      .product__info {
        .product__pricing {
          align-items: end;

          .product__price-container {
            flex-direction: column;
          }
          
          .discount{
            position: relative;
            left: -80px;
          }
        }
        
      }
    }
  }
}
