@use "@/assets/styles/variables.scss" as nav; // Импорт для переменных

.categories {
  &__item {
    &-link {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: nav.$radius-big;
    }

    &-title {
      font-size: nav.$common-text;
      font-weight: nav.$font-weight-medium;
      margin-top: 16px;
      text-align: center;
    }

    .dark &-title {
      color: nav.$font-lightColor;
    }
  }
}
