@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.cart__page {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .cart__container {
    display: flex;
    gap: 32px;

    .cart__products-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .cart__form {
      padding: 32px;
      background-color: nav.$cart-form-bg-light;
      font-size: nav.$cart-form-text;
      color: nav.$font-greyColor;
      font-weight: nav.$font-weight-medium;
      border-radius: nav.$radius-big;
      height: 100%;
      width: 100%;

      .order__info {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-header {
          color: nav.$font-darkColor;
          font-weight: nav.$font-weight-bold;
        }
      }

      .total__price-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .total__price {
          color: nav.$font-darkColor;
          font-weight: nav.$font-weight-bold;
          font-size: nav.$cart-total-price-text;
        }
      }

      .order__form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;

        .input__container {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .order__error-message {
            font-size: nav.$common-text;
            color: nav.$error-color;
          }
        }
      }
    }

    .form-dark {
      background-color: nav.$cart-form-bg-dark;

      .order__info-header {
        color: nav.$font-lightColor;
      }

      .total__price-container {
        .total__price {
          color: nav.$font-lightColor;
        }
      }
    }
  }

  .empty__cart {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    &-info {
      font-size: nav.$common-text;
    }

    .info-dark {
      color: nav.$font-light-grey;
    }
  }
}

@media (max-width: 1340px) {
  .cart__page {
    .cart__container {
      justify-content: space-between;
      gap: 20px;

      .cart__form {
        width: 470px;
        padding: 32px 20px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .cart__page {
    padding: 40px 20px 0;

    .cart__container {
      flex-direction: column;

      .cart__form {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .cart__page {
    padding: 32px 20px 0;
    
    .cart__container {
      .cart__form {
        .total__price-container{
          .total__price{
            font-size: nav.$price-s;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .cart__page {
    .cart__container {
      .cart__form {
        .total__price-container{
          .total__price{
            font-size: nav.$price-xs;
          }
        }
      }
    }
  }
}