@use "@/assets/styles/variables.scss" as nav; // импорт для переменных 

.sale__products-page{
    padding: 40px 40px 80px;

    .breadcrumbs{
        display: flex;
        align-items: center;
        &__linie{
            height: 1px;
            width: 16px;
            background-color: nav.$light-grey;
        }
    }

    .sale__product-list{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(316px, 1fr));
        gap: 32px;
    }
}