@use "@/assets/styles/variables.scss" as nav;

.wrapper_modalCart {
    width: 548px;
    height: 664px;


    display: flex;
    flex-direction: column;
    gap: 16px;

    border-radius: nav.$radius-big;
    background-color: nav.$bg-modalwindow-message;
    padding: 32px;
    
}

.inner_wrapperModalCart {
    width: 484px;
    height: 422px;
    background-color: nav.$bg-color-white;
    border: 1px solid nav.$border-color-grey;
    position: relative;
    border-radius: nav.$radius-big;
    overflow: hidden;
}

.discount_dailyCart{
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: nav.$sale-color;
    width: 52px;
    height: 26px;
    color: nav.$font-lightColor;
    padding: 4px 8px;
    border-radius: nav.$radius-small;
    
}

.img_dailyProduct{
    border-bottom: 1px solid nav.$border-color-grey;
}

.title_productOfTheDay{
font-size: 40px;
font-weight: 600;
color: nav.$font-lightColor;
}

.discountPrice_productOfTheDay {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: nav.$font-darkColor;
    margin-right: 16px;
}

.originalPrice_productOfTheDay{
    font-weight: 500;
    font-size: 20px;
    color: nav.$font-greyColor;
    text-decoration: line-through;
}

.discount_title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
    color: nav.$font-darkColor;
}

.price_info{
    padding: 20px;
}



.favorite_productOfTheDay{
    position: absolute;
    top: 8px;
    right: 16px;

   .icon {
        font-size: nav.$icons-size;
        color: nav.$font-lightColor;
        stroke: nav.$font-darkColor;  
        stroke-width: 20px;
        &:hover {
          color: nav.$font-darkColor;
        }
      }
    
      .icon__favourite{
        color: nav.$green-color;
        stroke: none;
      } 
}


