@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.product__cart-card {
  display: flex;
  border-radius: nav.$radius-big;
  border: 1px solid nav.$border-color-grey;
  overflow: hidden;
  background-color: nav.$bg-color-white;

  .product__image-container {
    border-right: 1px solid nav.$border-color-grey;
    display: flex;
    align-items: center;

    img {
      width: 200px;
      height: 190px;
      object-fit: contain;
      display: block;
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 32px;

    &-title {
      display: flex;
      gap: 16px;
      justify-content: space-between;

      .product-title {
        font-size: nav.$common-text;
        font-weight: nav.$font-weight-medium;
        max-width: 476px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .close__icon {
        font-size: nav.$cart-close-icon;
        color: nav.$font-darkColor;
      }
    }

    .price__counter {
      display: flex;
      gap: 32px;
      align-items: center;

      .cart__counter {
        display: flex;
        align-items: center;
        border: 1px solid nav.$border-color-grey;
        border-radius: nav.$radius-small;
        border-width: 1px 0 1px 0;

        .counter__btn-icon {
          padding: 17px;
          font-size: nav.$cart-counter-icon;
          color: nav.$font-greyColor;
          background: none;
          border: 1px solid nav.$border-color-grey;
          border-width: 0 1px 0 1px;
          border-radius: nav.$radius-small;
          display: flex;
        }

        .count {
          padding: 16px 44px;
          font-size: nav.$common-text;
          font-weight: nav.$font-weight-semi-bold;
        }
      }

      .product__pricing {
        display: flex;
        gap: 16px;
        align-items: baseline;

        .original__price {
          text-decoration: line-through;
          font-size: nav.$common-text;
          color: nav.$font-greyColor;
          font-weight: nav.$font-weight-medium;
        }
      }

      .product__price {
        font-size: nav.$price-text;
        font-weight: nav.$font-weight-semi-bold;
        color: nav.$font-darkColor;
      }

      .price-dark {
        color: nav.$font-lightColor;
      }
    }
  }

  .info-dark {
    background-color: nav.$bg-color-dark;

    .product-title {
      color: nav.$font-lightColor;
    }

    .count {
      color: nav.$font-lightColor;
    }
  }
}

@media (max-width: 1340px) {
  .product__cart-card {
    .product__info {
      gap: 12px;
      padding: 20px;

      .product__info-title {
        .product-title {
          white-space: wrap;
        }
      }

      .price__counter {
        flex-direction: column;
        align-items: start;
        gap: 12px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .product__cart-card {
    .product__info {
      .price__counter {
        .cart__counter {
          .count {
            padding: 16px 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .product__cart-card {
    .product__info {
      .product__info-title {
        .product-title {
          white-space: nowrap;
          max-width: 150px;
        }
      }

      .price__counter {
        .cart__counter {
          .counter__btn-icon {
            padding: 11px;
          }

          .count {
            padding: 12px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .product__cart-card {
    .product__info {
      .price__counter {
        .product__pricing {
          flex-direction: column;
        }

        .product__price {
          font-size: nav.$cart-price-s;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .product__cart-card {
    .product__image-container{
      img{
        width: 116px;
        object-fit: cover;
      }
    }
    
    .product__info {
      .product__info-title {
        .product-title {
          max-width: 128px;
        }
      }
    }
  }
}
