@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.header {
  position: relative;
  padding: 30px 40px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid nav.$border-color-grey;

  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    text-align: center;

    .nav__menu {
      &-list {
        display: flex;
        gap: 32px;
        font-weight: 500;

        li {
          cursor: pointer;
          .nav__menu-link {
            color: nav.$font-darkColor;
            &:hover {
              color: nav.$green-color;
            }
          }
          .link-dark {
            color: nav.$font-lightColor;
          }
        }
      }
    }

    .button__discount {
      margin-right: 20px;
      margin-bottom: 12px;
    }
  }

  .icons {
    display: flex;
    gap: 15px;
    position: relative;

    .header__icon {
      position: relative;
    }
    .quantity {
      position: absolute;
      background-color: nav.$green-color;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      top: 0;
      left: 0;
      font-size: nav.$product-quantity-header;
      color: nav.$font-lightColor;
      font-weight: 600;
    }
    .icon-light {
      font-size: nav.$icons-size;
      fill: none;
      stroke: nav.$font-darkColor;
      stroke-width: 20px;
    }
    .icon-dark {
      font-size: nav.$icons-size;
      fill: none;
      stroke: nav.$white-color;
      stroke-width: 20px;
    }
  }
}


@media (max-width: 1000px) {
  .header{
    padding: 30px 20px 28px;
  }
  .nav__menu {
      &-list {
        gap: 24px !important;
      }
    }
}

@media (max-width: 768px) {
  .nav__menu {
      &-list {
        gap: 15px !important;
      }
    }
}


@media (max-width: 725px) {  // нужно добавить БУРГЕР 
  .button__discount {
    display: none; 
  }
  .nav__menu {
    display: none;
  } 
}