@use "@/assets/styles/variables.scss" as nav;

.categories_product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  gap: 32px;
}

.categories_title {
  font-weight: 700;
  font-size: nav.$section-title;
  color: nav.$font-darkColor;
}
