@use "@/assets/styles/variables.scss" as nav;

.categories_products-section {
  padding: 40px 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .categories_product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    gap: 32px;

    .categories_title {
      font-weight: 700;
      font-size: nav.$section-title;
      color: nav.$font-darkColor;
    }
  }
}
