@use "@/assets/styles/variables.scss" as nav; // импорт для переменных 

.sale__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 0;
    .input__container{
      display: flex;
      flex-direction: column;
    }
  }

  &-section {
    background: linear-gradient(80.46deg, #87933d -0.68%, #55610b 66.66%);
    padding: 32px 32px 0;
    border-radius: nav.$radius-big;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin-bottom: 108px;
    h3 {
      font-size: nav.$section-title;
      font-weight: 700;
      color: nav.$font-lightColor;
    }
  }

  &-container {
    display: flex;
    gap: 32px;
  }

  .error-message{
    font-size: nav.$small-text;
    font-weight: 500;
    color: nav.$error-color;
    margin-top: 8px;
    text-align: start;
  }

  .submit__message{
    margin-top: 8px;
    color: nav.$font-lightColor;
    font-size: nav.$small-text;
    font-weight: 500;
    text-align: start;
  }
}
