@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.sale__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 516px;
  padding-bottom: 32px;

  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;

    .input__container {
      display: flex;
      flex-direction: column;
    }
  }

  &-section {
    background: nav.$bg-sale-form;
    padding: 32px 32px 0 0;
    border-radius: nav.$radius-big;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin-bottom: 108px;
    overflow: hidden;

    h3 {
      font-size: nav.$section-title;
      font-weight: nav.$font-weight-bold;
      color: nav.$font-lightColor;
    }
  }

  &-container {
    display: flex;
    gap: 32px;

    .sale__form-image__container {
      max-width: 748px;
      max-height: 360px;

      .sale__form-image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  .error-message {
    font-size: nav.$small-text;
    font-weight: nav.$font-weight-medium;
    color: nav.$error-color;
    margin-top: 8px;
    text-align: start;
  }

  .submit__message {
    margin-top: 8px;
    color: nav.$font-lightColor;
    font-size: nav.$small-text;
    font-weight: nav.$font-weight-medium;
    text-align: start;
  }
}

@media (max-width: 768px) {
  .sale__form-section {
    padding: 24px 20px 0;

    h3 {
      font-size: nav.$sale-form-S;
    }

    .sale__form-container {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    
    .sale__form-inputs {
      padding: 0;
    }
  }
}