@use "@/assets/styles/variables.scss" as nav;

.not-found__content {
  padding: 80px 40px 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      &__number{
        max-width: 180px;

        img{
          width: 100%;
        }
      }

      &__image{
        max-width: 300px;

        img{
          width: 100%;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & h2 {
        font-weight: nav.$font-weight-bold;
        font-size: nav.$section-title;
        color: nav.$font-darkColor;
      }

      & p {
        font-weight: nav.$font-weight-medium;
        font-size: nav.$common-text;
        color: nav.$font-greyColor;
        margin-bottom: 32px;
      }

      .error-dark {
        color: nav.$font-lightColor;
      }
    }
  }
}

@media (max-width: 1000px) {
  .not-found__content{
    padding: 60px 20px 0;
  }
}

@media (max-width: 768px) {
  .not-found__content{
    .content__text{
      h2{
        font-size: nav.$error-page-title-m;
      }
    }
  }
}

@media (max-width: 516px) {
  .not-found__content{
    .content__text{
      h2{
        font-size: nav.$error-page-title-s;
      }
    }
  }
}

@media (max-width: 450px) {
  .not-found__content{
    .content__text{
      h2{
        font-size: nav.$error-page-title-xs;
      }
    }
  }
}