@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.toggle__theme {
  position: relative;
  width: 60px; // Ширина переключателя
  height: 32px; // Высота переключателя

  input[type="checkbox"] {
    display: none;
  }

  .toggle-label {
    background-color: nav.$bg-toggle-lightTheme; // Цвет фона переключателя при светлой теме
    border-radius: nav.$radius-theme-toggle;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100%;
    height: 100%;

    .sun-icon,
    .moon-icon {
      position: absolute;
      transition: opacity 0.3s ease-in;
      opacity: 0;
      font-size: nav.$common-text;
    }

    .sun-icon {
      left: 6px; // Позиция иконки солнца при светлой теме
      color: nav.$dark-grey;
    }

    .moon-icon {
      right: 6px; // Позиция иконки луны при темной теме
      color: nav.$white-color;
    }

    .visible {
      opacity: 1;
    }
  }

  input[type="checkbox"]:checked + .toggle-label {
    background-color: nav.$bg-toggle-darkTheme; // Цвет фона переключателя при тёмной теме
  }

  .toggle-label::before {
    content: "";
    position: absolute;
    width: 28px; // Размер бегунка
    height: 28px; // Размер бегунка
    background-color: nav.$dark-grey; // Цвет бегунка по умолчанию при светлой теме
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1;
  }

  input[type="checkbox"]:checked + .toggle-label::before {
    transform: translateX(28px); // Смещение бегунка при тёмной теме
    background-color: nav.$dark-grey// Цвет бегунка при тёмной теме;
  }

  input[type="checkbox"]:not(:checked) + .toggle-label::before {
    transform: translateX(0); // Смещение бегунка при светлой теме
    background-color: nav.$white-color; // Цвет бегунка при светлой теме
  }
}
