@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.categories {
  &__section {
    margin-bottom: 80px;
  }
  &__content {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    img {
      max-width: 316px;
      height: 350px;
      object-fit: cover;
      border-radius: nav.$radius-big;
    }
    &-title {
      font-size: nav.$common-text;
      font-weight: 500;
    }
    .dark{
      color: nav.$font-lightColor;
    }
  }
}
