@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.categories {
  &__section {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__main-page__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    gap: 32px;
  }
}

@media (min-width: 481px) {
  .adaptive__link{
    display: none;
  }
}

@media (max-width: 480px) {
  .categories__main-page__list{
    text-align: center;
  }
}