@use "@/assets/styles/variables.scss" as nav; // импорт для переменных 

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background: url('/images/banner.jpg') no-repeat center center;
  
  &__content {
    color: nav.$font-lightColor; 
    padding: 40px;

    h1 {
      font-size: nav.$main-big-title; 
      font-weight: 700; 
      margin-bottom: 40px; 
    }

  }
}