@use "@/assets/styles/variables.scss" as nav; // импорт для переменных

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("/images/banner.jpg") no-repeat center center;

  &__content {
    color: nav.$font-lightColor;
    padding: 40px;

    h1 {
      font-size: nav.$main-big-title;
      font-weight: nav.$font-weight-bold;
      margin-bottom: 40px;
      white-space: nowrap;
    }
  }
}

@media (max-width: 1100px) {
  .banner {
    height: 476px;

    &__content {
      padding: 60px 20px;

      h1 {
        font-size: nav.$banner-L;
      }
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    &__content {

      h1 {
        font-size: nav.$banner-M;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 600px;
  }

  .banner__content h1 {
    font-size: nav.$banner-S;
    white-space: wrap;
  }
}

@media (max-width: 360px) {
  .banner__content h1 {
    font-size: nav.$banner-XS;
  }
}
